Repository TMaltseva/progress-component: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

chore: install dependencies
  package-lock.json
Due: none

feat: add base component implementation
  src/components/base/component.ts
Due: prettier --write, eslint --fix

feat: add base index.html structure
  src/index.html
Due: prettier --write

chore: update base configs
  .eslintrc.js
  tsconfig.json
Due: prettier --write, eslint --fix

feat: add project entry point
  src/index.ts
Due: prettier --write, eslint --fix

feat: add favicon images
  src/assets/apple-touch-icon.png
  src/assets/favicon-16x16.png
  src/assets/favicon-32x32.png
  src/assets/favicon.ico
Due: none

feat: add base project styles
  src/styles/_animations.scss
  src/styles/_base.scss
  src/styles/_mixins.scss
  src/styles/_reset.scss
  src/styles/_variables.scss
Due: prettier --write, stylelint --fix

feat: add style entry point
  src/styles/main.scss
Due: prettier --write, stylelint --fix

feat: add global type of window.app
  src/types/global.d.ts
Due: prettier --write, eslint --fix

feat: add base config color constants
  src/styles/colors.ts
Due: prettier --write, eslint --fix

feat: add necessary dom utils
  src/utils/dom.utils.ts
Due: prettier --write, eslint --fix

feat: add constants
  src/components/progress/progress.constants.ts
Due: prettier --write, eslint --fix

feat: add progress component styles
  src/components/progress/progress.styles.scss
Due: prettier --write, stylelint --fix

feat: add component implementation with state and options methods
  src/components/progress/progress.component.ts
Due: prettier --write, eslint --fix

feat: add ui class with rendering functionality for canvas component and animate it
  src/components/progress/progress.ui.ts
Due: prettier --write, eslint --fix

feat: add main app class with rendering component and setting options
  src/app.ts
Due: prettier --write, eslint --fix

chore: add README doc
  README.md
Due: none

Updates
  .eslintignore
  .eslintrc.js
  .gitignore
  .hintrc
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  .prettierrc
  .stylelintignore
  .stylelintrc
  app.d.ts
  assets/apple-touch-icon.png
  assets/favicon-16x16.png
  assets/favicon-32x32.png
  assets/favicon.ico
  assets/images/apple-touch-icon.png
  assets/images/favicon-16x16.png
  assets/images/favicon-32x32.png
  components/base/component.d.ts
  components/progress/progress.component.d.ts
  components/progress/progress.constants.d.ts
  components/progress/progress.ui.d.ts
  e43e208750447ebab286.ico
  index.d.ts
  index.html
  main.6b8afab99ef708d8b821.js
  main.e0196e98823f66e2dca0.css
  styles/colors.d.ts
  utils/dom.utils.d.ts
Due: prettier --write, eslint --fix, stylelint --fix

chore: update deploy link
  README.md
Due: none

chore: add build dir to gitignore
  .gitignore
Due: none

fix: fix height styles app settings
  src/components/progress/progress.styles.scss
  src/styles/_base.scss
Due: prettier --write, stylelint --fix

Updates
  index.html
  main.78c0720f4f22b7e75d17.css
  main.e0196e98823f66e2dca0.css
Due: prettier --write, stylelint --fix

fix: update API methods in README
  README.md
Due: none

chore: add testing deps
  package-lock.json
  package.json
Due: none

chore: add test commands to package.json
  package-lock.json
  package.json
Due: none

chore: add base jest config
  jest.config.js
Due: prettier --write, eslint --fix

test: add setup with mocks
  src/__tests__/setup.ts
Due: prettier --write, eslint --fix

test: add assets mock
  src/__tests__/mocks/assetsMock.js
Due: prettier --write, eslint --fix

test: add setupTests file
  src/__tests__/setupTests.ts
Due: prettier --write, eslint --fix

test: add test for progress component
  src/__tests__/components/progress/__tests__/progress.component.test.ts
Due: prettier --write, eslint --fix

test: add app test
  src/__tests__/components/progress/__tests__/app.test.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.{ts,js}) or (any of: *.{css,scss})) or (any of: *.html)
  eslint --fix: any of: *.{ts,js}
  stylelint --fix: any of: *.{css,scss}
